@{
    ViewData["Title"] = "Давайте";
}

<div class="text-center">
    <h1 class="display-4">Not Welcome</h1>
</div>

<table class="table-condensed">
    <a asp-controller="Auths" asp-action="Index">Auth table</a>

    @for (int i = 0; i < 13; i++)
    {
        <tr>
            <td> Вы кто такие? </td>
            <td> Я вас не звал </td>
            <td> Идите лесом отсюда </td>
            <td><img src="https://www.meme-arsenal.com/memes/067ed222b66c9b203f32bed7e9e56d76.jpg"/></td>

        </tr>
    }
</table>
